body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;

}


.container  {
    background-color: white;
    width: 500px;
    border-radius: 18px 0 18px 0;
    padding: 20px;

}

.container h2{
    color: #ff7f00;
    border-radius: 12px;
    text-align: center;

}

.container input {
    width: 450px;
    padding: 16px 12px 12px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 12px;
    outline: none;
    margin: 10px;
}


select {
    background-color: #1e1e1e;
    color: white;
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}

.container button {
    background-color: #ff7f00;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    width:450px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 18px;
}

#multas {
    margin-bottom: 20px;
}
