@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    background-image: url(../assets/img/caminhãoCadastro.svg);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-color: white;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 110vh;
    font-family: "Sofia Sans", sans-serif;
    
}



.triangulosEscuros {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    margin: 0;
    padding: 0;
    min-height: 110vh; 
    width: 90vw;
    z-index: 0;   
}

.triangulosEscuros .trianguloInferior {
    position: absolute;
    margin-left: 0;
    width: 8%;
    height: auto;  
}

.triangulosEscuros .trianguloSuperior {
    position: absolute;
    top: 0 ;
    left: 102%;
    width: auto;
    width: 8%;
}



body {
    background-image: url(../assets/img/caminhãoCadastro.svg);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-color: white;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 110vh;
    
}



.triangulosEscuros {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    margin: 0;
    padding: 0;
    min-height: 110vh; 
    width: 90vw;
    z-index: 0;   
}

.triangulosEscuros .trianguloInferior {
    position: absolute;
    align-self: flex-end;
    margin-left: 0;
    width: 8%;
    height: auto;  
}

.triangulosEscuros .trianguloSuperior {
    position: absolute;
    top: 0 ;
    left: 102%;
    width: auto;
    width: 8%;
}


.triangulosEscuros .trianguloClaro {
    position: relative;
    height: auto;
    align-self: self-end;
    margin-left: 190px;
}

.container {
    position: relative;
}

.container .titulos{
    font-family: 'Post No Bills Jaffna Light Regular';
    padding: 40px;
    margin-left: 10%;
    z-index: 2 /*garante q os titulos fiquem a cima*/
}

.container .titulos h1 {
    font-size: 3.5rem;
    padding: 5px;
    margin: 0;
    margin-bottom: 0px; 
}

.container .titulos h1 img {
    position: absolute;
    height: 10px;
    width: 221px;
}

.container .titulos h2{
    font-size: 2.5rem;
    padding: 5px;
    margin-top: 0;
    margin: 0;
    
}


.formulario {
    font-size: 17px;
    position: absolute;
    top: 25%;
    left: 120%;
}


.container .formulario input {
    position: relative;
    border-radius: 0px 12px 12px 0px;
    margin: 4%;
    left: 15%;
    height: 35px;
    width: 250px;
    top: -9px;
    border: none;
    z-index: 2 /*garante que os inputs fica a cima das imagens para n atrapalhar inserção de dados*/ 

}

.formulario img {
    position: absolute;
    z-index: 1;
}

.icon-input .icon {
    position: absolute;
    left: 5%;
    transform: translateY(40%); /* desloca  40% da sua altura para baixo */
}


#bt_proximo {
    position: absolute;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    left: 150%;
    top:345px;
    z-index: 10;
}


#prox, #seta{
    padding: 5px;
    margin-top: -15px;
    margin-left: 4%;
    width: 50%;
}

#bt_proximo:hover {
    color: #ff7f00;              
    transform: scale(1.05);   /* aumenta levemente o botão */
}


